// Software Developed by Adam Iantorno for Portfolio Website 2024

@import "../../scss/variables";
@import "../../scss/styles";

// .splitter {
//   margin: 10px !important;
// }

.about {
    &-text {
      font-size: $text-standard-size;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      padding: 20px 0px;
  
      p {
        margin-bottom: 12px;
        line-height: 1.5;
      }
    }

    &-pic {
        &-self {
            height: 50vh;
            margin-bottom: 20px;
        }

        &-fun {
            height: 55vh;
          }
      
        &-div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
        }
    }

    &-tech {
        padding-bottom: 15px;

        span {
            font-size: 1.75rem;
            font-weight: bold;
            color: $primary-colour-3;
            margin-bottom: 12px;
          }
      
          h4 {
            color: $primary-colour-2;
            text-transform: uppercase;
          }
      
          ul {
            margin: 0;
            padding-left: 8vw;
      
            @media screen and (max-width: $mobile-width) {
              padding-left: 0 !important;
            }
          }
      
          li {
            position: relative;
            list-style-type: none;
            margin-bottom: 0.2rem;
      
            @media screen and (min-width: $mobile-width) {
              padding-left: 1.5rem;
              text-align: left;
      
              &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 1px;
                width: 5px;
                height: 11px;
                border-width: 0 2px 2px 0;
                border-style: solid;
                border-color: $primary-colour-2;
                transform-origin: bottom left;
                transform: rotate(45deg);
              }
            }
        }
    }
}