---

import '@fontsource/work-sans';

import Navbar from "../components/Navbar.astro";
import About from "../sections/About.astro";
import Landing from "../sections/Landing.astro";
import Projects from "../sections/Projects.astro";
import Footer from "../components/Footer.astro";
import Quote from "../components/Quote.astro";

const title = "Adam Iantorno"

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div>
			<Navbar />
			<Landing />
			<Quote />
			<About />
			<Projects />
			<Footer />
		</div>
	</body>
</html>

<style is:global>

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;  
		-webkit-box-sizing: border-box;
     	-moz-box-sizing: border-box;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		margin-top: -2px;
		background-color: #5a4594;
		font-family: "Work Sans";
	}

	body:has(dialog[open]) {
		overflow: hidden;
	}

	section {
		width: 100vw;
		min-height: 200px;
		background-color: #5a4594;
		scroll-margin-top: 60px;
	}

	.container {
		width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
	}

</style>