---
---

<section id="home">
    <div class="hero">
        <div class="content">
            <div>Hi, I'm PERSON</div>
        </div>
    </div>
</section>

<style>
    #home {
        background-color: #5a4594;
    }

    .hero {
        position: relative;
        height: 105vh;
        background-image:
            /* linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.2)), */
            url(/assets/adambackground.jpg);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .content {
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 50%
    }

</style>
