---

import ProjectCard from "./projectcard.astro";

import { getCollection, type CollectionEntry } from 'astro:content';

const projects: CollectionEntry<'projects'>[] = await getCollection('projects');
const categories = ['All', ...new Set(projects.map((p) => p.data.category))];

---

<section id="projects">
    <div class="container">
        <h1>Projects</h1>
    </div>
    <div class="container">
        <div class="filter-buttons">
            {
                categories.map((category) => (
                    <button>
                        {category}
                    </button>
                ))
            }
        </div>

        <div class="projects-grid">
            {
                projects.map((project) => (
                    <ProjectCard />
                ))
            }
        </div>
    </div>
    <div>
        <dialog id="project-dialog" class="project-dialog">
            <div class="dialog-content">
                <button class="close-btn" aria-label="Close dialog">
                    Close
                </button>
            </div>
            <div class="dialog-body"></div>
        </dialog>
    </div>
</section>

<style>

    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

</style>

<script>

</script>