---
import { addIssueToContext } from "astro:schema";
import ProjectCard from "./projectcard.astro";

import { getCollection, type CollectionEntry } from "astro:content";

const projects: CollectionEntry<"projects">[] = await getCollection("projects");
const sorted_projects = projects.sort((p_a, p_b) => {
    if (p_a.data.project_id < p_b.data.project_id) return 1;
    if (p_a.data.project_id > p_b.data.project_id) return -1;
    return 0;
})

---

<section id="projects">
    <div class="container">
        <h1>Projects</h1>
    </div>
    <div class="container">
        <div>
            <div class="projects-grid">
                {sorted_projects.map((project) => <ProjectCard project={project} />)}
            </div>
        </div>
    </div>

    <div>
        <dialog id="project-dialog" class="project-dialog">
            <div class="dialog-content">
                <button class="close-btn" aria-label="Close dialog">
                    Close
                </button>
            </div>
            <div id="dialog-body"></div>
        </dialog>
    </div>
</section>

<style>
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .filter-buttons {
        margin: 10px 0;
    }
    
</style>

<script>

    const projectCards = document.querySelectorAll<HTMLElement>(".project-card");

    function closeDialog(d: HTMLDialogElement) {
        d?.close();
    }

    function openDialog(d: HTMLDialogElement) {
        d?.showModal();

        d?.addEventListener('click', (e) => {
            const rect = d.getBoundingClientRect();
            const clickedOutside = (
            e.clientX < rect.left ||
            e.clientX > rect.right ||
            e.clientY < rect.top ||
            e.clientY > rect.bottom
            );
            
            if (clickedOutside) {
                closeDialog(d);
            }
        });

    }


    // Dialog functionality
    const dialog = document.getElementById('project-dialog') as HTMLDialogElement;
    const dialogBody = document.getElementById('dialog-body');
    const closeBtn = document.querySelector('.close-btn');

    projectCards.forEach(card => {
        card.addEventListener('click', () => {
            const projectId = card.getAttribute('data-project-id');

            if (projectId && dialogBody) {
                const contentElement = document.getElementById(`project-content-${projectId}`);
                if (contentElement) {
                    dialogBody.innerHTML = contentElement.innerHTML;
                    openDialog(dialog);
                }
            }
        });
    });

    closeBtn?.addEventListener('click', () => {
        closeDialog(dialog);
    });


</script>
