---
---

<div class="quote-section">
    <div class="content quote-text">
        <span class="quote">
            "The moment you doubt whether you can fly, you cease for ever to be able to do it."
        </span>
        <br/>
        <span class="author">
            - J. M. Barrie, Peter Pan
        </span>
    </div>
</div>

<style>

    .quote-section {
        background-color: var(--color-white);
        display: grid;
        place-items: center;
        padding: 32px;
    }

    .quote-text {
        text-align: center;
    }

    .quote, .author {
        font-size: 1.4rem;
        color: var(--color-primary-dark);
    }
    
    .author {
        font-style: italic;
    }


</style>