---
---

<div class="quote-section">
    <div class="content quote-text">
        <span class="quote">
            "There is only one corner of the universe you can be certain of improving, and that's your own self."
        </span>
        <br/>
        <span class="author">
            - Aldous Huxley
        </span>
    </div>
</div>

<style>

    .quote-section {
        background-color: #fefefe;
        display: grid;
        place-items: center;
        padding: 40px;
    }

    .quote-text {
        text-align: center;
    }


    .quote, .author {
        font-size: 1.7rem;
        color: rgba(0, 0, 0, 0.8);
    }

    .author {
        font-style: italic;
    }


</style>