// Software Developed by Adam Iantorno for Portfolio Website 2024

@import "../../scss/variables";
@import "../../scss/styles";

.exp {
    &-div {
        display: flex;
        align-items: flex-start;
        padding-top: 20px;
    }

    &-jobs {
        display: flex;
        justify-content: flex-end;
        padding: 0px !important;
    }

    &-bubble  {
        @extend .bubble;
        border-radius: 0px 10px 10px 0px;
        padding-left: 25px !important;

        @media screen and (max-width: $mobile-width) {
            border-radius: 0px 0px 10px 10px;
        }
    }

    &-btn-group {
        overflow-x: auto;
        overflow-y: hidden;
        border-radius: 0 !important;

        @media screen and (min-width: $mobile-width) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
    }

    &-button {
        width: 100%;
        border: none;
        background-color: transparent;
        padding: 10px 15px;
        text-align: right;
        color: $primary-colour-3;
        border-radius: 5px 0 0 5px !important;
        transition: 0.5s;
        line-height: 12px;

        @media screen and (max-width: $mobile-width) {
            text-align: center;
            border-radius: 5px 5px 0 0 !important;
            min-width: 130px;
            
            h4 {
                font-size: 16px;
            }
        }
    
        &-active, &:hover {
            @extend .exp-button;
            background-color: $primary-colour-6;
            color: $primary-colour-1;
        }

        h4 {
            margin-bottom: 0;
        }

        span {
            font-size: 0.8rem;
        }
    }

    &-highlight {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        width: 6px;
        height: 62px;
        background: $primary-colour-1;
        transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition-delay: 0.1s;

        @media screen and (max-width: $mobile-width) {
            top: auto;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 15px;
            max-width: 130px;
            border-radius: 50% 50% 0 0;
        }

        &-background {
            position: absolute;
            top: 0;
            right: 0;
            width: 2px;
            height: 100%;
            z-index: 5;
            background-color: $primary-colour-5;
        }
    }

    &-h-0 {
        transform: translateY(calc($exp-highlight-height*0));
    
        @media screen and (max-width: $mobile-width) {
            transform: translateX(calc($exp-highlight-width*0));
        }
    }
    
    &-h-1 {
        transform: translateY(calc($exp-highlight-height*1));
    
        @media screen and (max-width: $mobile-width) {
            transform: translateX(calc($exp-highlight-width*1));
        }
    }
    
    &-h-2 {
        transform: translateY(calc($exp-highlight-height*2));
    
        @media screen and (max-width: $mobile-width) {
            transform: translateX(calc($exp-highlight-width*2));
        }
    }
    
    &-h-3 {
        transform: translateY(calc($exp-highlight-height*3));
    
        @media screen and (max-width: $mobile-width) {
            transform: translateX(calc($exp-highlight-width*3));
        }
    }
    
    &-h-4 {
        transform: translateY(calc($exp-highlight-height*4));
    
        @media screen and (max-width: $mobile-width) {
            transform: translateX(calc($exp-highlight-width*4));
        }
    }

    &-h-5 {
        transform: translateY(calc($exp-highlight-height*5));
    
        @media screen and (max-width: $mobile-width) {
            transform: translateX(calc($exp-highlight-width*5));
        }
    }
}

.job {
    &-desc {
        display: none;
        margin-left: 15px !important;
    
        &.job-active {
            display: block;
            animation: scale-display 1s;
        }
    
        &.job-inactive {
            display: block;
            animation: scale-display--reverse 0.5s;
            animation-fill-mode: forwards;
        }
    }

    

    &-info {
        margin-bottom: 12px;
    }

    &-title {
        text-align: left;

        h4 {
            margin-bottom: 0;
        }
    }

    &-period {
        font-weight: 400;
        font-size: 1.2rem;
        color: $primary-colour-3;
    }

    &-logo {
        max-height: 40px;

       &.logo-UWAFT, &.logo-416 {
           max-height: 70px;
       }
    }

    &-list {
        text-align: left;
        line-height: 1.8;
        margin-top: 0.5em;
        padding: 0 !important   ;
    }

    &-item {
        position: relative;
        list-style-type: none;
        margin-bottom: 0.2rem;
        padding-left: 1.5rem;
        text-align: left;
        font-size: $text-standard-size;

        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 5px;
            width: 5px;
            height: 11px;
            border-width: 0 2px 2px 0;
            border-style: solid;
            border-color: $primary-colour-2;
            transform-origin: bottom left;
            transform: rotate(45deg);
        }

    }

    &-tags {
        display: flex;
        flex-direction: row;
        
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                float: left;
                display: block;
                padding: 5px 10px;
                margin-right: 0.5rem;
                border: 3px solid $primary-colour-4;
                border-radius: 2em;
                background-color: $primary-colour-4;
                color: $primary-colour-1;
                font-weight: 500;
                font-size: 0.8rem;
                font-style: italic;

            }

        }
        
    }

    @keyframes scale-display {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }
}