// Software Developed by Adam Iantorno for Portfolio Website 2024

@import "../../scss/variables";
@import "../../scss/styles";

.filter {
    margin-bottom: 10px;

    @media screen and (max-width: $mobile-width) {
        display: flex;
        flex-direction: column;
    }

    &-button {
        color: $primary-colour-5;
        font-size: 2rem;
        font-weight: 500;
        background: none;
        border: none;
        border-radius: 5px;
        padding: 2px 20px 2px 25px;
        margin: 0 8px;

        @media screen and (max-width: $mobile-width) {
            font-size: 1.5rem;
            margin: auto;
        }

        &:hover {
            color: white;
            background-color: $primary-colour-dark;
            transition: 0.6s;
        }

        &.active {
            background-color: #fff;
            font-weight: 550;
            color: $primary-colour-1;
        }
    }
}

.card {
    &-main {
        position: relative;
        width: 300px;
        height: 350px;
        margin: 1.25rem 0.5rem;
        border: none;
        border-radius: 5%;
        transition: all 300ms ease-in-out;

        @media screen and (max-width: $large-width) {
            max-width: 100%;
            height: 350px;
        }

        &:hover {
            cursor: pointer;
            box-shadow: 0px 15px 35px rgba(227, 252, 239, 0.1),
                0px 5px 15px rgba(0, 0, 0, 0.07);
            transform: scale(1.025);

            .card-img-hovered {
                --card-img-hovered-overlay: linear-gradient(to bottom,
                        rgba(0, 0, 0, 0),
                        rgba(0, 0, 0, 0.65));
                height: 100%;
                border-radius: 5%;
            }

            .card-info {
                background-color: transparent;
            }

            .card-date {
                opacity: 0;
            }

            .card-show {
                opacity: 1;
            }

            .card-title {
                color: $primary-colour-6;
                transform: translate(0, 30px);
            }
        }
    }

    &-img {
        visibility: hidden;
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        &-hovered {
            --card-img-hovered-overlay: linear-gradient(to bottom,
                        rgba(0, 0, 0, 0),
                        rgba(0, 0, 0, 0));
            transition: all 350ms ease-in-out;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            border-radius: 5% 5% 0 0;
            width: 100%;
            position: absolute;
            height: 200px;
            top: 0;
        }
    }

    &-info {
        position: relative;
        padding: 0.75rem 1.25rem;
        transition: all 200ms ease-in-out;
        text-align: left;
    }

    &-title {
        z-index: 10;
        font-size: 1.5rem;
        padding-bottom: 0.75rem;
        transition: all 350ms ease-in-out;
        color: $primary-colour-1;
    }

    &-date {
        padding-bottom: 0.75rem;
        transition: all 250ms ease-in-out;
        color: $primary-colour-3;
        font-weight: 400;
        font-size: 1.1rem;
    }

    &-show {
        z-index: 10;
        opacity: 0;
        font-size: 1rem;
        padding-bottom: 0.75rem;
        transition: all 350ms ease-in-out;
        color: $primary-colour-6;
    }
}

// IMAGES
.card-1 {
    .card-img, .card-img-hovered {
        background-image: var(--card-img-hovered-overlay),
            url(./assets/imgs/coverHil.jpg);
    }
}

.card-2 {
    .card-img, .card-img-hovered {
        background-image: var(--card-img-hovered-overlay),
            url(./assets/imgs/coverArduino.jpg);
    }
}

.card-3 {
    .card-img, .card-img-hovered {
        background-image: var(--card-img-hovered-overlay),
            url(./assets/imgs/coverQuad.png);
    }
}

.card-4 {
    .card-img, .card-img-hovered {
        background-image: var(--card-img-hovered-overlay),
            url(./assets/imgs/coverBracket.jpg);
    }
}

.card-5 {
    .card-img, .card-img-hovered {
        background-image: var(--card-img-hovered-overlay),
            url(./assets/imgs/coverCftracker.png);
    }
}

.card-6 {
    .card-img, .card-img-hovered {
        background-image: var(--card-img-hovered-overlay),
            url(./assets/imgs/coverDiag.jpg);
    }
}

.card-7 {
    .card-img, .card-img-hovered {
        background-image: var(--card-img-hovered-overlay),
            url(./assets/imgs/coverWebsite.png);
    }
}

.card-8 {
    .card-img, .card-img-hovered {
        background-image: var(--card-img-hovered-overlay),
            url(./assets/imgs/coverSpeech.png);
    }
}

.card-9 {
    .card-img, .card-img-hovered {
        background-image: var(--card-img-hovered-overlay),
            url(./assets/imgs/coverRobotArm.png);
    }
}

.card-10 {
    .card-img, .card-img-hovered {
        background-image: var(--card-img-hovered-overlay),
            url(./assets/imgs/coverTurnCare.JPEG);
    }
}



.modal {
    &-70w {
        min-width: 70%;
    }

    &-header {
        background-color: $primary-colour-1;
        color: #fff;
    }

    &-title {
        font-size: 2rem !important; 
    }

    &-img, &-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }

    td, th, li {
        font-size: $text-standard-size;

        @media screen and (max-width: $mobile-width) {
            font-size: 1em;
        }
    }

    p {
        font-size: $text-standard-size;
        text-indent: 40px;
        text-align: left !important;

        @media screen and (max-width: $mobile-width) {
            font-size: 1em;
        }
    }

    h3 {
        color: $primary-colour-1;
    }

    figcaption {
        @extend .italics;
        font-size: 16px;
        margin: 0 auto 0 auto;
        padding-top: 5px;
        padding-bottom: 20px;
    }

    
}

.tags {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .tag {
        font-size: 0.5em !important;
        display: block;
        padding: 0.3em 0.85em;
        margin: 0.5em;  
        border: 3px solid $primary-colour-4;
        border-radius: 2em;
        transition: transform 0.2s;
        transition-timing-function: cubic-bezier(0.45, -0.85, 0.55, -0.45);

        @media screen and (max-width: $mobile-width) {
            font-size: 0.3em !important;
            border: 2px solid $primary-colour-4;
        }
    }
}

.center-table {
    td {
        font-size: 1em;
    }
}

.img {

    &-centered {
        object-fit: contain;
    }

    &-hil {

        &-canframe {
            max-width: 100%;
        }

        &-mounts {
            height: 40vh;
        }

        &-cad {
            height: 35vh;
        }
    }

    &-arduino {

        &-initial {
            height: 30vh;
        }
    }

    &-quad {

        &-components {
            transform: rotate(180deg);
        }

        &-final {
            height: 60vh;
        }
    }

    &-gf {
        &-flow {
            object-fit: contain;
            height: 32vh;
        }

        &-final {
            height: 40vh;
        }
    }
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
