---

import ProjectCard from "../components/ProjectCard.astro";

import { getCollection, type CollectionEntry } from "astro:content";

const projects: CollectionEntry<"projects">[] = await getCollection("projects");
const sorted_projects = projects.sort((p_a, p_b) => {
    if (p_a.data.project_id < p_b.data.project_id) return 1;
    if (p_a.data.project_id > p_b.data.project_id) return -1;
    return 0;
})

---

<section id="projects">
    <div class="container">
        <h1 class="header">Projects</h1>
        <div>
            <div class="projects-grid">
                {sorted_projects.map((project) => <ProjectCard project={project} />)}
            </div>
        </div>
    </div>

    <div>
        <dialog id="project-dialog" class="project-dialog">
            <div class="dialog-content">
                <button class="close-btn" aria-label="Close dialog">
                    Close
                </button>
            </div>
            <div id="dialog-body"></div>
        </dialog>
    </div>
</section>

<style>

    #projects {
        --color-white: #fff;
    }

    .container {
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
    }

    .header {
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        margin: 10px 0px;
        text-shadow: 0 0 5px #000, 0px 0px 50px #000;
    }

    .projects-grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1.5rem;
    }

</style>

<script>

    const projectCards = document.querySelectorAll<HTMLElement>(".project-card");

    function closeDialog(d: HTMLDialogElement) {
        d?.close();
    }

    function openDialog(d: HTMLDialogElement) {
        d?.showModal();

        d?.addEventListener('click', (e) => {
            const rect = d.getBoundingClientRect();
            const clickedOutside = (
            e.clientX < rect.left ||
            e.clientX > rect.right ||
            e.clientY < rect.top ||
            e.clientY > rect.bottom
            );
            
            if (clickedOutside) {
                closeDialog(d);
            }
        });

    }


    // Dialog functionality
    const dialog = document.getElementById('project-dialog') as HTMLDialogElement;
    const dialogBody = document.getElementById('dialog-body');
    const closeBtn = document.querySelector('.close-btn');

    projectCards.forEach(card => {
        card.addEventListener('click', () => {
            const projectId = card.getAttribute('data-project-id');

            if (projectId && dialogBody) {
                const contentElement = document.getElementById(`project-content-${projectId}`);
                if (contentElement) {
                    dialogBody.innerHTML = contentElement.innerHTML;
                    openDialog(dialog);
                }
            }
        });
    });

    closeBtn?.addEventListener('click', () => {
        closeDialog(dialog);
    });


</script>
