---

import ProjectCard from "../components/ProjectCard.astro";
import { PORTFOLIO_PROJECTS } from "../data/projects";

const sorted_projects = PORTFOLIO_PROJECTS.sort((p_a, p_b) => {
    if (p_a.pk < p_b.pk) return 1;
    if (p_a.pk > p_b.pk) return -1;
    return 0;
})

---

<section id="projects">
    <div class="container">
        <h1 class="header">Projects</h1>
        <div>
            <div class="projects-grid">
                {sorted_projects.map((project) => <ProjectCard project={project} />)}
            </div>
        </div>
    </div>
</section>

<style>

    #projects {
        --color-white: #fff;
    }

    .container {
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
    }

    .header {
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        margin: 10px 0px;
        text-shadow: 0 0 5px #000, 0px 0px 50px #000;
    }

    .projects-grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1.5rem;
    }

</style>

<script>

    function closeDialog(d: HTMLDialogElement) {
        d?.close();
    }

    function openDialog(d: HTMLDialogElement) {
        d?.showModal();

        d?.addEventListener('click', (e) => {
            const rect = d.getBoundingClientRect();
            const clickedOutside = (
            e.clientX < rect.left ||
            e.clientX > rect.right ||
            e.clientY < rect.top ||
            e.clientY > rect.bottom
            );
            
            if (clickedOutside) {
                closeDialog(d);
            }
        });

        return;
    }

    // Dialog functionality
    const projectCards = document.querySelectorAll<HTMLElement>(".project-card");

    projectCards.forEach(card => {
        card.addEventListener('click', () => {
            const dialogId = card.getAttribute('data-dialog-target');
            if (dialogId) {
                const dialog = document.getElementById(dialogId) as HTMLDialogElement;

                const closeBtn = dialog.querySelector('.close-btn');
                closeBtn?.addEventListener('click', () => {
                    closeDialog(dialog);
                })

                openDialog(dialog);
                return;
            }
        });
    });

</script>
