// Software Developed by Adam Iantorno for Portfolio Website 2024

$primary-colour-1: #5a4594;
$primary-colour-2: #725ab8;
$primary-colour-3: #9E99E3;
$primary-colour-4: #CCC9F0;
$primary-colour-5: #d3d1ef;
$primary-colour-6: #f5f5fc;

$primary-colour-dark: #493778;
$primary-colour-darker: #342755;

$primary-dark: #1a142b;

$white: #fff;
$off-white: #fafafa; 

$nav-size: 72px;
$nav-color-main: #1b1a2ec6;

$background-grad: linear-gradient(rgba(0, 0, 0, 0.35), rgba(255, 255, 255, 0));

$text-title-size: 3rem;
$text-standard-size: 1.2rem;
$text-nav-size: 1.3rem;
$text-mobile-size: 1rem;

$exp-highlight-height-old: 67.8px;
$exp-highlight-width-old: 227px;

$exp-highlight-height: 62px;
$exp-highlight-width: 228px;

$mobile-width: 576px;
$large-width: 992px;
